.nd1nut li {
    list-style:  none;
    padding:  4px;
    background: #000000b3;
    width:  70%;
    color: white;
    border-bottom: 1px solid #ffa5009e;
    /* background-color: white; */
}

li {}

.nd1nut li:hover {
    background: orange;
}


.nd1nut {
    position:  absolute;
    width:  259px;
    text-align: -webkit-auto;
    text-transform:  uppercase;
    height:  400px;
    
}
@media (max-width:576px) {
    .menumobie {
        visibility:hidden;
        opacity:0;
        position:absolute;
    }
}
@media only screen 
and (min-width : 375px) 
and (max-width : 667px) {
 .menumobie {
        visibility:hidden;
        opacity:0;
        position:absolute;
    } }
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
     .menumobie {
        visibility:hidden;
        opacity:0;
        position:absolute;
    } 

}
